.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
* {
  outline: none;
}
body { 
  font-family: 'Oxygen', sans-serif;
  background-color: #fff !important;
}
.bg-dark{
  padding-top: 30px;
}
.product-listing-box{
  width: 100%;
  margin-bottom: 30px;
}
.product-listing-img{
  width: 100%;
}
.product-listing-box img{
  max-width: 100%;
}
.product-listing-box h3{
  width: 100%;
  color: #fff;
  font-size: 12px;
  margin-bottom: 2px;
}
.product-listing-box p{
  width: 100%;
  color: #7f7f7f;
  font-size: 12px;
  margin-bottom: 0px;
}
.header{
  background-color: #212121;
}
.header h2,.header-details h2{
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 0px;
}
.header-details{
  background-color: #746a64;
  color: #fff;
}
.header-right{  
  cursor: pointer;
}
.header-right .btn-dots{
  font-size: 24px;
  border: none;
  background-color: transparent;
  color: #fff;
}
.header-right .dropdown-item{
  font-size: 14px;
}
.header h2 i{
  color: #fff;
  margin-right: 14px;
}
.details-box{
 padding-top: 30px;
}
.details-box .product-listing-box{
  margin-bottom: 0px;
}
.product-listing-details{
  width: 100%;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.product-listing-details h3{
  font-size: 22px;
  font-weight: 400;
  color: #121212;
}
.product-listing-details h5{
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
  color: #121212;
}
.product-listing-details .rating-box{
  width: 100%;
  font-size: 14px;
  font-weight: 600;
}
.product-listing-details .add_fav{
  width: 100%;
  margin-top: auto;
}
.product-listing-details .add_fav .btn{
  background-color: #746a64;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 0;  
}
.product-listing-details .add_fav .btn:hover{
  background-color: #000;
}
.details-box p{
  line-height: 25px;
  font-size: 14px;
  color: #939393;
}
.trailers{
  width: 100%;
}
.trailers h4{
  font-size: 16px;
  font-weight: 500;
  border-bottom: solid 1px #ddd;
  padding-bottom: 10px;
  color: #8d8b8b;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.play-trailers {
  background-color: #fafafa;
  font-size: 14px;
  color: #747373;
}
.play-trailers i{
  margin-right: 20px;
  font-size:22px;
}
.loader.spinner-border{
  top: 50%;
  left: 50%;
  position: absolute;
}
@media (max-width: 767px) {
  .bg-dark{
    padding-top: 0px;
  }
  .bg-dark .col-6{
    padding-left: 0px;
    padding-right: 0px;
  }
  .product-listing-box {
    margin-bottom: 0px;
  }
  .header {
    padding-right: 8px;
    padding-left: 4px;
  }
  .header-details {
    padding-right: 8px;
    padding-left: 4px;
  }
}
